<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2009 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.greatnowhere.radar"
      android:versionCode="2"
      android:versionName="1.0beta2">
    <uses-sdk android:minSdkVersion="15" android:maxSdkVersion="19" android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.PERSISTENT_ACTIVITY"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>	
	<!-- Moto X specific -->
    <uses-permission android:name="com.motorola.context.permission.CONTEXT" />
				
    <application android:label="@string/app_name" android:allowBackup="true"
                 android:icon="@drawable/app_icon" android:name="com.greatnowhere.radar.MainRadarApplication">
                 
        <activity android:name="com.greatnowhere.radar.MainRadarActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|keyboardHidden"
                  android:launchMode="singleTask"
                  android:clearTaskOnLaunch="true"
                  android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name="org.acra.CrashReportDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name="com.greatnowhere.radar.config.SettingsActivity" android:label="Settings" android:noHistory="true" android:excludeFromRecents="true"></activity>
        <service android:label="iRadar Connectivity Service" android:permission="android.permission.BLUETOOTH" android:name="com.cobra.iradar.RadarConnectionService" android:enabled="true" android:singleUser="true"></service>
        <service android:label="iRadar Monitoring Service" android:name="com.cobra.iradar.RadarMonitorService" android:enabled="true" android:singleUser="true"></service>
        <service android:label="Data Collector Service" android:name="com.greatnowhere.radar.services.CollectorService" android:enabled="true" android:singleUser="true"></service>
        <service android:label="Threat Logger Service" android:name="com.greatnowhere.radar.threats.ThreatLogger$ThreatLoggerService" android:enabled="true" android:singleUser="true"></service>
        <service android:label="DB Pruner Service" android:name="com.greatnowhere.radar.threats.ThreatLogger$DBPruneService" android:enabled="true"></service>
        <receiver android:name="com.greatnowhere.radar.receiver.BootReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.cobra.iradar.UIModeReceiver" android:enabled="true" android:exported="true" >
            <intent-filter>
                <action android:name="com.motorola.context.CONTEXT_CHANGE" />
                <action android:name="com.motorola.contextaware.intent.action.DRIVE_CURRENT_STATE" />
                <action android:name="android.intent.action.DOCK_EVENT"/>
                <action android:name="android.app.action.ENTER_CAR_MODE"/>
                <action android:name="android.app.action.EXIT_CAR_MODE"/>
                <!--  <data android:mimeType="context/com.motorola.context.publisher.InVehicle" />  -->
            </intent-filter>
        </receiver>
		<!-- Receiver for triggering random alerts -->           
        <receiver android:name="com.cobra.iradar.AlertInjectionReceiver" android:exported="true" android:enabled="true">
            <intent-filter>
                <action android:name="com.cobra.iradar.InjectRandomAlert"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
